* {
	font-family: "Baloo Bhaijaan 2", sans-serif;
	box-sizing: border-box;
}

.row > div{
  background-color: gray;
  border: 10px solid;
}

.text-center{
	margin-top: 10px;
	font-weight: bold;
}

div p#sec_desc{
	margin-right: auto;
	margin-left: auto;
}

p{
	width: 90%;
}

.container .col-lg-4, .container .col-md-6, .container .col-md-12, .container .col-sm-12
{
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-brand {
  padding-top: 25px;
}